<link rel="stylesheet" href="css/footer.css">
<footer>
    <div class="container">
        <p>&copy; 2024 MySite. All Rights Reserved.</p>
        <p>
            Follow us: 
            <a href="#"><i class="fab fa-facebook"></i></a> 
            <a href="#"><i class="fab fa-twitter"></i></a> 
            <a href="#"><i class="fab fa-instagram"></i></a>
        </p>
    </div>
</footer>
